<!doctype html>
<html>
  <head>

    <title>search result</title>

<link rel="stylesheet" type="text/css" href="./style/style.css"/>                                                                          

  </head>
<body>
                                                                          

    <h1>Calorie Buddy</h1>

                                                                        

<nav>

<a href= '/'>Home</a>

                                                                                                                                                                                                                  

<a href='/about'>About </a>

                                                                                                                                                                                                                  

<a href='/register'>Register </a>

                                                                                                                                                                                                                  

<a href='/login'>Login </a>

                                                                                                                                                                                                                  

<a href='/addfood'>Add Food </a>

                                                                                                                                                                                                                  

<a href='/search'>Search Food</a>

                                                                                                                                                                                                                  

<a href='/update'>Update Food</a>

                                                                                                                                                                                                                  

<a href='/list'>Food List </a>

                                                                                                                                                                                                                  

<a href='/api'>Api </a>

                                                                                                                                                                                                                  

<a href='/logout'>Logout </a>

</nav>

<section class="contentSection">
  <h3>SEARCH RESULT PAGE</h3>

      <p>The result of the food you are looking for: </p>


      <table style="width: 100%">
				<tr>
					<th>Food Name</th>
					<th>Unit</th>
					<th>Calorie</th>
					<th>Carbs</th>
					<th>Fat</th>
					<th>Protein</th>
					<th>Salt</th>
					<th>Sugar</th>
				</tr>

				<% availablefood.forEach(function(food){ %>

				<tr>
					<td> <%= food.name %> </td>
					<td> <%= food.unit %> </td>
					<td> <%= food.calories %> </td>
					<td> <%= food.carbs %> </td>
					<td> <%= food.fat %> </td>
					<td> <%= food.protein %> </td>
					<td> <%= food.salt %> </td>
					<td> <%= food.sugar %> </td>

				</tr>
                                                                                                                                                                                             
                                                                                                       
             <% }) %> 
						
			</table>




</section>

                                                                          

  </body>                                      

</html>
